# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db-shm
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db-wal
build/vs2019/.vs/BGFXTest/v16/Browse.VC.opendb
build/vs2019/.vs/BGFXTest/v16/ipch/AutoPCH/3fa0f3eac565477c/MAIN.ipch
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db-shm
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db-wal
build/vs2019/bgfx.vcxproj
build/vs2019/bgfx.vcxproj.filters
build/vs2019/BGFXTest.sln
build/vs2019/bimg.vcxproj
build/vs2019/bimg.vcxproj.filters
build/vs2019/bin/x86/Debug/Engine.exp
build/vs2019/bx.vcxproj
build/vs2019/bx.vcxproj.filters
build/vs2019/Engine.vcxproj
build/vs2019/glfw.vcxproj
build/vs2019/glfw.vcxproj.filters
build/vs2019/obj/x86/Debug/bgfx/bgfx.idb
build/vs2019/obj/x86/Debug/bgfx/bgfx.lib.recipe
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/bgfx.lastbuildstate
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.idb
build/vs2019/obj/x86/Debug/bimg/bimg.lib.recipe
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/bimg.lastbuildstate
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.idb
build/vs2019/obj/x86/Debug/bx/bx.lib.recipe
build/vs2019/obj/x86/Debug/bx/bx.tlog/bx.lastbuildstate
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.exe.recipe
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/Engine.lastbuildstate
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/Engine.write.1u.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.read.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.write.1.tlog
build/vs2019/obj/x86/Debug/Engine/vc142.idb
build/vs2019/obj/x86/Debug/glfw/glfw.idb
build/vs2019/obj/x86/Debug/glfw/glfw.lib.recipe
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/glfw.lastbuildstate
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.lib.recipe
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/bgfx.lastbuildstate
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.lib.recipe
build/vs2019/obj/x86/Release/bimg/bimg.tlog/bimg.lastbuildstate
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bx/bx.lib.recipe
build/vs2019/obj/x86/Release/bx/bx.tlog/bx.lastbuildstate
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/Engine/Engine.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/Engine/Engine.tlog/Engine.lastbuildstate
build/vs2019/obj/x86/Release/Engine/Engine.tlog/unsuccessfulbuild
build/vs2019/obj/x86/Release/glfw/glfw.lib.recipe
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/glfw.lastbuildstate
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib.command.1.tlog
.vs/BGFXTest/v16/Browse.VC.db
build/vs2019/.vs/ECS_DOOM/v16/.suo
build/vs2019/.vs/ECS_DOOM/v16/Browse.VC.db
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/39a0fa16758ee97f/HELLOWORLD_MT.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/659e7863d6089a2b/HELLOWORLD.ipch
build/vs2019/.vs/ECS_DOOM/v16/Solution.VC.db
build/vs2019/ECS_DOOM.sln
build/vs2019/.vs/ECS_DOOM/v16/Browse.VC.db-shm
build/vs2019/.vs/ECS_DOOM/v16/Browse.VC.db-wal
build/vs2019/.vs/ECS_DOOM/v16/Browse.VC.opendb
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/1ba75b2fab11343/PHYSICSYSTEM.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/3eb2291487740983/SHADER.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/439863a380a98ffe/TIME.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/51fa819c3af07132/MAIN.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/68680e63759c6b45/MATHS.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/8d264b7c4190170c/COMPONENTMANAGER.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/9f1b98577e05c11e/PHYSICSYSTEM.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/a30f61a658c46a33/WINDOW.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/b08fb69d13e019f4/COORDINATOR.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/c0424372b0792756/RENDERSYSTEM.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/c5797dc8e3b0728b/RENDERSYSTEM.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/cc7200a513f93130/MAT44.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/cf0f6a9c9d41178a/SYSTEMMANAGER.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/e7c592294654e523/TIME.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/fa076ce7ffaf2a7b/SYSTEM.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/fcc3ec4dd4a7835e/SHADER.ipch
build/vs2019/.vs/ECS_DOOM/v16/Solution.VC.db-shm
build/vs2019/.vs/ECS_DOOM/v16/Solution.VC.db-wal
build/vs2019/bin/x86/Debug/Engine.exe
build/vs2019/bin/x86/Debug/Engine.pdb
build/vs2019/Engine.vcxproj.filters
build/vs2019/obj/x86/Debug/Engine/Engine.ilk
build/vs2019/obj/x86/Debug/Engine/Engine.log
build/vs2019/obj/x86/Debug/Engine/vc142.pdb
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/51fa819c3af07132/MAIN.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/8d264b7c4190170c/COMPONENTMANAGER.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/a30f61a658c46a33/WINDOW.ipch
build/vs2019/bin/x86/Debug/Engine.exe
build/vs2019/bin/x86/Debug/Engine.pdb
build/vs2019/Engine.vcxproj.filters
build/vs2019/obj/x86/Debug/Engine/Engine.ilk
build/vs2019/obj/x86/Debug/Engine/Engine.log
build/vs2019/obj/x86/Debug/Engine/vc142.pdb
