# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db-shm
build/vs2019/.vs/BGFXTest/v16/Browse.VC.db-wal
build/vs2019/.vs/BGFXTest/v16/Browse.VC.opendb
build/vs2019/.vs/BGFXTest/v16/ipch/AutoPCH/3fa0f3eac565477c/MAIN.ipch
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db-shm
build/vs2019/.vs/BGFXTest/v16/Solution.VC.db-wal
build/vs2019/bgfx.vcxproj
build/vs2019/bgfx.vcxproj.filters
build/vs2019/BGFXTest.sln
build/vs2019/bimg.vcxproj
build/vs2019/bimg.vcxproj.filters
build/vs2019/bin/x86/Debug/Engine.exp
build/vs2019/bx.vcxproj
build/vs2019/bx.vcxproj.filters
build/vs2019/Engine.vcxproj
build/vs2019/glfw.vcxproj
build/vs2019/glfw.vcxproj.filters
build/vs2019/obj/x86/Debug/bgfx/bgfx.idb
build/vs2019/obj/x86/Debug/bgfx/bgfx.lib.recipe
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/bgfx.lastbuildstate
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bgfx/bgfx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.idb
build/vs2019/obj/x86/Debug/bimg/bimg.lib.recipe
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/bimg.lastbuildstate
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bimg/bimg.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.idb
build/vs2019/obj/x86/Debug/bx/bx.lib.recipe
build/vs2019/obj/x86/Debug/bx/bx.tlog/bx.lastbuildstate
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/bx/bx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.exe.recipe
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/Engine.lastbuildstate
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/Engine.write.1u.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.command.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.read.1.tlog
build/vs2019/obj/x86/Debug/Engine/Engine.tlog/link.write.1.tlog
build/vs2019/obj/x86/Debug/Engine/vc142.idb
build/vs2019/obj/x86/Debug/glfw/glfw.idb
build/vs2019/obj/x86/Debug/glfw/glfw.lib.recipe
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/glfw.lastbuildstate
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Debug/glfw/glfw.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.lib.recipe
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/bgfx.lastbuildstate
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bgfx/bgfx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.lib.recipe
build/vs2019/obj/x86/Release/bimg/bimg.tlog/bimg.lastbuildstate
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bimg/bimg.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/bx/bx.lib.recipe
build/vs2019/obj/x86/Release/bx/bx.tlog/bx.lastbuildstate
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/bx/bx.tlog/Lib.command.1.tlog
build/vs2019/obj/x86/Release/Engine/Engine.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/Engine/Engine.tlog/Engine.lastbuildstate
build/vs2019/obj/x86/Release/Engine/Engine.tlog/unsuccessfulbuild
build/vs2019/obj/x86/Release/glfw/glfw.lib.recipe
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.command.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.read.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/CL.write.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/glfw.lastbuildstate
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib-link.read.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib-link.write.1.tlog
build/vs2019/obj/x86/Release/glfw/glfw.tlog/Lib.command.1.tlog
.vs/BGFXTest/v16/Browse.VC.db
build/vs2019/.vs/ECS_DOOM/v16/.suo
build/vs2019/.vs/ECS_DOOM/v16/Browse.VC.db
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/39a0fa16758ee97f/HELLOWORLD_MT.ipch
build/vs2019/.vs/ECS_DOOM/v16/ipch/AutoPCH/659e7863d6089a2b/HELLOWORLD.ipch
build/vs2019/.vs/ECS_DOOM/v16/Solution.VC.db
build/vs2019/ECS_DOOM.sln
